.text {
    width: 256px; 
    font-size: 16px; 
    line-height: 24px; 
    font-weight: 400; 
    color: #FFFFFFFF;
}

.container .button {
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Open Sans; 
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 500; 
  color: #FFFFFFFF; /* white */
  background: #58A446FF; 
  opacity: 1; 
  border: none; 
  border-radius: 3px; 
}
.container .button:hover {
  color: #FFFFFFFF; /* white */
  background: #468438FF;
}
.container .button:hover:active {
  color: #FFFFFFFF; /* white */
  background: #37682CFF; 
}
.container .button:disabled {
  opacity: 0.4; 
}
.container h1{
  font-size: 60px; 
  line-height: 60px; 
  font-weight: 800; 
  color: #19191FFF;
}
.container p {
  font-size: 20px; 
  line-height: 28px; 
  font-weight: 400; 
  color: #19191FFF; 
}
.container button {
  width: 200px;
}
.container {
  top: 64px;
  left: 0px;
  width: 100%;
  height: 602px;
  background: #F5FAF5FF;
  border-radius: 0px 0px 0px 0px;
}

.images{
    /*position: absolute;
    top: -3px;
    left: 24px; */
    width: 69px;
    height: 69px;
    border-radius: 0px 0px 0px;
}

a, a:visited {
    text-decoration: none;
    color: blue;
  }
/* Home */
.page {
    position: absolute;
    
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    
    background: #FFFFFFFF; /* white */
}

.container img {
  width: 528px; 
  height: 378px; 
  border-radius: 4px; 
}

h1 {
  font-size: 60px; 
  line-height: 60px; 
  font-weight: 800; 
  color: #19191FFF; 
}

body {
  height: 100%;
}
main {
  flex: 1;
}



.flex {
  display:flex;
}

.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-wrap-down {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;

}


.shop-colaction {
  display: flex;
  flex-wrap: wrap;
  background-color: #FAFAFBFF;
}


